body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

h2{
    border-bottom: solid 1px #000;
}

textarea{
    width: 100%;
    border-color: #aaa;
    height: 40px;
}